body {
	background-color: #99ccff;
	font-family: "Verdana", serif;
}

#frm {
	
	margin: auto;
	width: 27%;
	border: 3px solid #ffff99;
	padding: 10px;
	background-color: #66b3ff;
}

form{
	text-align: center;
}

header {
	text-align: center;
	
	font-size: 40px;
	
	padding: 8px 8px;

	margin: auto;
	width: 27%;
	border: 3px;
	padding: 10px;
	background-color: #ffff99;
}

#foot {
	text-align: center;
	font-size: 10px;
	font-family: "Verdana", serif;
}